@CHARSET "ISO-8859-1";

.limesurvey-sync-field-ls-sync-synchronized{background-image: url(bullet_green.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;}
.limesurvey-sync-field-ls-sync-desynchronized{background-image: url(bullet_black.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;}
.limesurvey-sync-field-ls-sync-unsynchronized{background-image: url(bullet_grey.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;}
.limesurvey-sync-field-ls-sync-unknown{background-image: url(bullet_blue.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;}
 .limesurvey-sync-field-need-sync-true{background-image: url(bullet_red.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;
  font-weight : bold;}
.limesurvey-sync-field-need-sync-false{background-image: url(bullet_green.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 16px;
  font-weight : bold;}